.sideHeading {
  color: cornflowerblue;
  display: grid;
  place-items: center;
}

.transferSection {
  padding: 20px;
  background-color: #eae1c1;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.transferForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formGroup {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

label {
  font-weight: bold;
  font-size: large;
}

.inputField {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.buttonGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnTransfer {
  background-color: #4caf50;
  color: white;
}

.btnCancel {
  background-color: #f44336;
  color: white;
}

.btnTransfer:hover {
  background-color: #28982e;
}

.btnCancel:hover {
  background-color: #d8302d;
}

@media (max-width: 600px) {
  .transferSection {
    padding: 15px;
    max-width: 100%;
    box-shadow: none;
  }

  .inputField {
    width: 100%;
  }

  .buttonGroup {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 80%;
    margin-bottom: 10px;
  }
}
